<div id="nav" class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
    </div>
    <nav class="navbar-collapse collapse" role="navigation">
      <ul class="nav navbar-nav navbar-right">
          {foreach page in sitemap}
              <li class="dropdown"><a class="dropdown-toggle" href="{relative(page.key)}?{__genId}">{page.value.title}</a></li>
          {end}
      </ul>
    </nav>
  </div>
</div>
